
# ${DOCUMENT_ROOT} seria el directorio donde estan todos los proyectos
# el dir que se comparte con los contenedores, recomiendo que sea 
# /home/usuario/Escritorio/proyectos, por ende docker-compose-lamp 
# deberia estar en /home/usuario/Escritorio/proyectos/docker-compose-lamp

DOCUMENT_ROOT=../
VHOSTS_DIR=./config/vhosts
APACHE_LOG_DIR=./logs/apache2
HTML_DIR=./data/html
PHP_INI=./config/php/php.ini
MYSQL_DATA_DIR=./data/mysql
MYSQL_LOG_DIR=./logs/mysql
MYSQL_CONFIG_DIR=./config/mysql
POSTGRES_DATA_DIR=./data/postgres
POSTGRES_LOG_DIR=./logs/postgres
# Acceso
MYSQL_ROOT_PASSWORD=prueba
MYSQL_DATABASE=prueba
MYSQL_USER=prueba
MYSQL_PASSWORD=prueba
POSTGRES_PASSWORD=prueba
